/* @media (max-width: 1024px){
  .main-title-container{
      font-size: 6em;
      letter-spacing: -4px;
      align-items: center;
  }
}



@media (max-width: 767px){
  .main-title-container {
      font-size: 3em;
      letter-spacing: -2px;
      align-items: center;
  }
} */

.main-title-container{
  margin: 0px;
  font-family: 'Poppins', sans-serif;
  font-style: italic;
  font-size: 6em;
  letter-spacing: -4px;
  font-weight: 700;
  line-height: 1em;
  display: flex;
  justify-content: center;
}

.sub-title-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  font-family: 'Poppins', sans-serif;
  font-style: italic;
  font-weight: 600;
  font-size: 2.5em;
  letter-spacing: -2px;
  height: 100%; 
  margin-bottom: 50px;
}


/* @media (max-width: 767px){
  .sub-title-container {
      font-size: 2em;
      letter-spacing: -1px;
      align-items: center;
  }
  .shoe-img{
    width: 75%;
  }
} */


.main-image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;

}


#shoe-img {
  display: block;
  margin: 0 auto; 
  height: fit-content;
  width: fit-content;
}

.Slider-container {
 
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.card {
 
  background-color: #f5f5f5;
  border-radius: 10px;
  padding: 20px;
  margin: 10px;
}

.product-image-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-bottom: 10px;
}

.product-image-container img {
  max-width: 100%;
  height: auto;
}

.product-image-container h2 {
  font-size: 1.5em;
  margin: 10px 0;
}

.product-image-container p {
  font-size: 1em;
  margin: 5px 0;
}




